<!DOCTYPE html>
<html>
<head>
  <title>RaspberryPIcks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>RaspberryPIcks - User submitted Raspberry Pi news</h1>
    <nav>
      <ul>
        <li><%= link_to('new', root_path) %></li>
        <li><%= link_to('submit', new_post_path) %></li>
        <li><%= login_logout %></li>
      </ul>
    </nav>
  </header>

  <div role='main'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

</body>
</html>
